/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color:#000028;
  --main-font: "IBM Plex Mono", sans-serif;
  --text-color:#F1B2CE;
  --accent-color:#FF0070;
  --font-size: 18px;
  --gap: 20px;
  --color:#db00ff;
  --color-hr:#FF0070;
  --br-color: #FF0070;
  --br-hover:#FF007066;
  --bg--text:#FF0070;
}


