:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --main-font: "IBM Plex Mono", sans-serif;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --font-size: 18px;
  --gap: 20px;
  --color: #f1b2ce;
  --content: none;
  --color-hr: transparent;
  --br-color: #353430;
  --br-hover: #32312d66;
  --bg--text:#000028;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --main-font: "IBM Plex Mono", sans-serif;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --font-size: 18px;
    --gap: 20px;
    --color: #f1b2ce;
    --color-hr: transparent;
    --br-color: #353430;
    --br-hover: #32312d66;
    --bg--text:#000028;
  }
}

