:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-font: "IBM Plex Mono", sans-serif;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --font-size: 18px;
  --gap: 20px;
  --color: #db00ff;
  --color-cnt: #ff0070;
  --color-hr: #ff0070;
  --br-color: #ff0070;
  --br-hover: #ff007066;
  --bg--text:#FF0070;
}
